
*.dll
*.pdb
Smartflow/Program.cs
Smartflow/bin/Debug/Smartflow.dll.config
Dapper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache*.cache
Smartflow/obj/Debug/Smartflow.csprojResolveAssemblyReference.cache
*.cache
*.nupkg
*.xdt
packages/Microsoft.AspNet.WebApi.Core.4.0.30506.0/content/web.config.transform
*._
packages/repositories.config
*.config
*.resources
*.config
example/Smartflow.Web.Mvc/bin/Smartflow.Web.Mvc.dll.config
example/Smartflow.Web.Form/bin/Smartflow.Web.Form.dll.config
*.txt
*.xml
example/Dapper/obj/Debug/CSC11C2ACC7F7A94F9ABE131CB7D87741.TMP
UpgradeLog.htm
UpgradeLog2.htm
*.lock
*.ide
*.ide-shm
*.ide-wal
.vs/Smartflow/v15/.suo
.vs/Smartflow/v16
example/Smartflow.BussinessService/obj/Debug/Smartflow.BussinessService.csproj.CopyComplete
example/Smartflow.Web.Mvc/obj/Debug/Smartflow.Web.Mvc.csproj.CopyComplete

packages
bin
obj
example/Smartflow.Web.Mvc/Content/design/smartflow.dev.js
example/Smartflow.Web.Mvc/test.html
.vs
docs/docs.html
.vs/Smartflow.Core/DesignTimeBuild/.dtbcache.v2
/Samples/Smartflow.Samples/logs
/Samples/Smartflow.Samples/Models/Order.cs
/src/Smartflow.API/logs
