
.layui-container {
    width: auto;
    padding: 10px;
}

.ztree-container {
    left: 0px;
    top: 40px;
    height: 300px;
    position: absolute;
    background-color: #EEE;
    z-index: 888;
    overflow: auto;
    width: 280px;
    display: none;
}

.arrow-container {
    text-align: center;
    padding-top: 20%;
}

.arrow-btn {
    width: 30px;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    border: solid 1px #EEE;
}

.layui-right {
    text-align: right;
}
