html,body{height:100%;width:100%;overflow:hidden;}
.container_ctr {
    margin-left: 30px;
    margin-right: 300px;
    box-sizing: border-box;
    background: url(./images/grid_15.png) repeat;
    height: 100%;
    overflow: auto;
}
.container_right {
    float: right;
    width: 300px;
    height: 100%;
    border-left:solid 2px #eee;
    overflow-y:auto;
}
.container_tools {
    width: 30px;
    float: left;
    background-color: #eee;
    height: 100%;
    box-sizing: border-box;
}
.tools_menu li {
    line-height: 45px;
    text-align: center;
}
.container_draw {height: 4000px; width: 4000px;}
.container_process {background: url(./images/grid_15.png) repeat;height:100%;}

.layui-btn {
    border-radius: initial !important;
    line-height: 28px !important;
    height: 28px !important;
}

.smartflow-textarea {
    width: 100%;
    height: 60px;
    min-height: 20px;
    resize: none;
    word-break: break-all;
    border-radius: initial;
}

.attributes_tab {margin:10px;}
.layui-layer, .layui-layer-btn0, .layui-layer-btn1 {border-radius: 0 !important;}
.attribute_tab_table {margin-left: 10px;margin-right: 10px;font-size: 14px;color: #666666;}
.attribute_tab_table td {line-height: 26px;border-bottom:solid 1px #eee;}
.attribute_tab_table_column {width: 50px;vertical-align: middle;font-weight:bold;color:#282424;font-size:16px;}
.attribute_tab_table_content {vertical-align: top;text-align: justify;}
svg, text,path {-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none;}
text {font-size: 12px;text-anchor: middle;dominant-baseline: middle;pointer-events: none;font-weight: 600;letter-spacing: 1px;}
.ztree-container {
    left: 0;
    right: 0;
    top: 38px;
    height: 130px;
    position: absolute;
    background-color: #F0F0F0;
    z-index: 888;
    overflow: auto;
    display: none;
}

.tools_menu img:hover {
    border: solid 1px #ad9d9d;
}

.hide{
    display:none;
}

.smartflow-label {
    text-align: left !important;
    padding-left: 0px !important;
    font-weight: 600;
    font-size: 16px;
}